<div class="container">
    <div class="login-form-wrapper">
        <div class="login-card">
            <div class="login-card-body">
                <form>
                    <div class="form-group">
                        <h4 class="form-title">Sign Up</h4>
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-input" name="email" [(ngModel)]="username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" class="form-input" name="password" [(ngModel)]="password">
                    </div>
                    <button type="button" class="button-primary" (click)="signup()">Sign Up</button>
                    <button type="button" class="button-secondary" (click)="goBack()">Back</button>
                    <div class="row">
                        <div class="link-wrapper">
                            <a href="/login" class="link">Have an Account? <span class="link-highlight">Login</span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
