<div class="container">
    <div class="student-table-wrapper">
        <div class="student-card">
            <div class="student-card-body">
                <div class="header-with-filter">
                    <button (click)="openFilterModal()" class="filter-button">Filters</button>
                    <h5 class="title">Student Database</h5>
                </div>
                <table class="student-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Student ID</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Program</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Fees</th>
                            <th>Fee Balance</th>
                            <th>Notes</th>
                            <th>Installments</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of filteredStudentList; let i = index">
                            <td>
                                <span *ngIf="!student.editing">{{ student.name }}</span>
                                <input *ngIf="student.editing" type="text" class="edit-input" [(ngModel)]="student.name">
                            </td>
                            <td>
                                <span *ngIf="!student.editing">{{ student.studentID }}</span>
                                <input *ngIf="student.editing" type="text" class="edit-input" [(ngModel)]="student.studentID">
                            </td>
                            <td>
                                <span *ngIf="!student.editing">{{ student.email }}</span>
                                <input *ngIf="student.editing" type="email" class="edit-input" [(ngModel)]="student.email">
                            </td>
                            <td>
                                <span *ngIf="!student.editing">{{ student.enrollmentStatus }}</span>
                                <select *ngIf="student.editing" class="edit-select" [(ngModel)]="student.enrollmentStatus">
                                    <option value="enrolled">Enrolled</option>
                                    <option value="graduated">Graduated</option>
                                    <option value="withdrawn">Withdrawn</option>
                                    <option value="other">Other</option>
                                </select>
                            </td>
                            <td>
                                <span *ngIf="!student.editing">{{ student.program }}</span>
                                <input *ngIf="student.editing" type="text" class="edit-input" [(ngModel)]="student.program">
                            </td>
                            <td>
                                <span *ngIf="!student.editing">{{ student.startDate | date: 'yyyy-MM-dd' }}</span>
                                <input *ngIf="student.editing" type="date" class="edit-input" [(ngModel)]="student.startDate">
                            </td>
                            <td>
                                <span *ngIf="!student.editing">{{ student.endDate | date: 'yyyy-MM-dd' }}</span>
                                <input *ngIf="student.editing" type="date" class="edit-input" [(ngModel)]="student.endDate">
                            </td>
                            <td>
                                <span *ngIf="!student.editing">{{ student.totalFees }}</span>
                                <input *ngIf="student.editing" type="text" class="edit-input" [(ngModel)]="student.totalFees">
                            </td>
                            <td>{{ student.totalFeeBalance }}</td>
                            <td>
                                <span *ngIf="!student.editing">{{ student.notes }}</span>
                                <input *ngIf="student.editing" type="text" class="edit-input" [(ngModel)]="student.notes">
                            </td>
                            <td>
                                <button class="view-installments-button" (click)="openInstallmentModalForStudent(student)">View Installments</button>
                            </td>
                            <td>
                                <button *ngIf="!student.editing" class="edit-button" (click)="editStudent(student)">
                                    Edit
                                </button>
                                <button *ngIf="student.editing" class="save-button" (click)="updateStudent(student, i)">
                                    Save
                                </button>
                            </td>
                            <td>
                                <button class="delete-button3" (click)="deleteStudent(student)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <button class="back-button1" (click)="back()">Back</button>
            </div>
        </div>
    </div>

    <div class="form-wrapper">
        <div class="form-card">
            <div class="form-header">
                <h5 class="title2">Add Student</h5>
            </div>
            <form>
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" id="name" name="name" [(ngModel)]="studentObj.name" class="form-input">
                </div>
                <div class="form-group">
                    <label for="studentID">Student ID</label>
                    <input type="text" id="studentID" name="studentID" [(ngModel)]="studentObj.studentID" class="form-input">
                </div>
                <div class="form-group">
                    <label for="enrollmentStatus">Enrollment Status</label>
                    <select id="enrollmentStatus" [(ngModel)]="studentObj.enrollmentStatus" name="enrollmentStatus" class="form-input" required>
                        <option *ngFor="let status of enrollmentStatuses" [value]="status">
                            {{ status | titlecase }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" [(ngModel)]="studentObj.email" class="form-input">
                </div>
                <div class="form-group">
                    <label for="program">Program</label>
                    <input type="text" id="program" name="program" [(ngModel)]="studentObj.program" class="form-input">
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date (YYYY-MM-DD)</label>
                    <input type="date" id="startDate" name="startDate" [(ngModel)]="studentObj.startDate" class="form-input">
                </div>
                <div class="form-group">
                    <label for="endDate">End Date (YYYY-MM-DD)</label>
                    <input type="date" id="endDate" name="endDate" [(ngModel)]="studentObj.endDate" class="form-input">
                </div>
                <div class="form-group">
                    <label for="totalFees">Total Fees</label>
                    <input type="text" id="totalFees" name="totalFees" [(ngModel)]="studentObj.totalFees" class="form-input">
                </div>
                
                <!-- Trigger for Modal -->
                <div class="form-group">
                    <label for="datesOfFeesToBePaid">Dates and Installments</label>
                    <button type="button" (click)="openInstallmentModal()" class="add-button">Add Installments</button>
                </div>
                <div class="form-group">
                    <label for="Notes">Notes</label>
                    <input type="text" id="Notes" name="Notes" [(ngModel)]="studentObj.notes" class="form-input">
                </div>
                <button type="button" class="add-button1" (click)="addStudent()">Add Student</button>
            </form>
        </div>
    </div>
</div>

<!-- Installment Details Modal -->
<div id="installmentDetailsModal" class="modal" [ngClass]="{'show': showInstallmentDetailsModal}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Installment Details for {{ selectedStudent?.name }}</h5>
            <button type="button" class="close" (click)="closeInstallmentDetailsModal()">&times;</button>
        </div>
        <div class="modal-body">
            <table class="installment-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Date Received</th>
                        <th>Amount Received</th>
                        <th>Payment Mode</th>
                        <th>Note</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let installment of selectedInstallments; let i = index">
                        <!-- Date -->
                        <td *ngIf="!installment.editing">{{ installment.date }}</td>
                        <td *ngIf="installment.editing">
                            <input type="date" [(ngModel)]="installment.date" placeholder="Date" />
                        </td>
                        
                        <!-- Amount -->
                        <td *ngIf="!installment.editing">{{ installment.amount }}</td>
                        <td *ngIf="installment.editing">
                            <input type="text" [(ngModel)]="installment.amount" placeholder="Amount" />
                        </td>
                        
                        <!-- Date Received -->
                        <td *ngIf="!installment.editing">{{ installment.dateReceived || 'Not Received' }}</td>
                        <td *ngIf="installment.editing">
                            <input type="date" [(ngModel)]="installment.dateReceived" placeholder="Date Received" />
                        </td>
                        
                        <!-- Amount Received -->
                        <td *ngIf="!installment.editing">{{ installment.amountReceived || 'Not Received' }}</td>
                        <td *ngIf="installment.editing">
                            <input type="text" [(ngModel)]="installment.amountReceived" placeholder="Amount Received" />
                        </td>
                        
                        <!-- Payment Mode -->
                        <td *ngIf="!installment.editing">{{ installment.paymentMode }}</td>
                        <td *ngIf="installment.editing">
                            <select [(ngModel)]="installment.paymentMode">
                                <option value="ET">ET</option>
                                <option value="Credit">Credit</option>
                                <option value="Cash">Cash</option>
                                <option value="OSAP">OSAP</option>
                            </select>
                        </td>
                        
                        <!-- Note -->
                        <td *ngIf="!installment.editing">{{ installment.note || 'No Note' }}</td>
                        <td *ngIf="installment.editing">
                            <input [(ngModel)]="installment.note" placeholder="Note" />
                        </td>
                        
                        <!-- Edit/Save Buttons -->
                        <td>
                            <button *ngIf="!installment.editing" class="edit-button" (click)="editInstallment(installment)">
                                Edit
                            </button>
                            <button *ngIf="installment.editing" class="save-button" (click)="updateInstallment(installment, i)">
                                Save
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Add Installment Button -->
            <button type="button" (click)="addNewInstallment()" class="add-button">Add New Installment</button>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="closeInstallmentDetailsModal()">Close</button>
        </div>
    </div>
</div>


<!-- Installment Modal -->
<div id="installmentModal" class="modal" [ngClass]="{'show': showModal}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add Installment Dates and Amounts</h5>
            <button type="button" class="close" (click)="closeInstallmentModal()">&times;</button>
        </div>
        <div class="modal-body">
            <table class="installment-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Date Received</th>
                        <th>Amount Received</th>
                        <th>Payment Mode</th> <!-- New column for payment mode -->
                        <th>Note</th> <!-- New column for note -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let installment of installmentList; let i = index">
                        <td>
                            <input type="date" [(ngModel)]="installment.date" class="form-input">
                        </td>
                        <td>
                            <input type="text" [(ngModel)]="installment.amount" class="form-input">
                        </td>
                        <td>
                            <input type="date" [(ngModel)]="installment.dateReceived" class="form-input">
                        </td>
                        <td>
                            <input type="text" [(ngModel)]="installment.amountReceived" class="form-input">
                        </td>
                        <td>
                            <select [(ngModel)]="installment.paymentMode" class="form-input">
                                <option value="ET">ET</option>
                                <option value="Credit">Credit</option>
                                <option value="Cash">Cash</option>
                                <option value="OSAP">OSAP</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" [(ngModel)]="installment.note" class="form-input"> <!-- Input for note -->
                        </td>
                        <td>
                            <button type="button" class="remove-button" (click)="removeInstallment(i)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" (click)="addInstallment()" class="add-button">Add Installment</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="save-button" (click)="saveInstallments()">Save</button>
        </div>
    </div>
</div>

<!-- Filter Modal -->
<div id="filterModal" class="modal" [ngClass]="{'show': showFilterModal}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Filters</h5>
            <button type="button" class="close" (click)="closeFilterModal()">&times;</button>
        </div>
        <div class="modal-body">
            <button class="filter-option-button" (click)="openStatusFilterModal()">Filter by Status</button>
            <button class="filter-option-button" (click)="openDueDateFilterModal()">Filter by Installment Due Date</button>
        </div>
    </div>
</div>

<!-- Status Filter Modal -->
<div id="statusFilterModal" class="modal" [ngClass]="{'show': showStatusFilterModal}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Filter by Status</h5>
            <button type="button" class="close" (click)="closeStatusFilterModal()">&times;</button>
        </div>
        <div class="modal-body">
            <label for="statusFilter">Select Status:</label>
            <select id="statusFilter" [(ngModel)]="selectedFilterStatus" class="form-input1" (change)="applyStatusFilter()">
                <option *ngFor="let status of enrollmentStatusesForFilter" [value]="status">{{ status | titlecase }}</option>
            </select>
        </div>
    </div>
</div>

<!-- Filter Modal -->
<div id="filterModal" class="modal" [ngClass]="{'show': showFilterModal}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Filters</h5>
            <button type="button" class="close" (click)="closeFilterModal()">&times;</button>
        </div>
        <div class="modal-body">
            <button class="filter-option-button" (click)="openStatusFilterModal()">Filter by Status</button>
            <button class="filter-option-button" (click)="openDueDateFilterModal()">Filter by Installment Due Date</button>
            <button class="filter-option-button" (click)="openDateRangeFilterModal()">Filter by Installment Date Range</button>
        </div>
    </div>
</div>

<!-- Date Range Filter Modal -->
<div id="dateRangeFilterModal" class="modal" [ngClass]="{'show': showDateRangeFilterModal}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Filter by Installment Date Range</h5>
            <button type="button" class="close" (click)="closeDateRangeFilterModal()">&times;</button>
        </div>
        <div class="modal-body">
            <label for="startDateFilter">Start Date:</label>
            <input type="date" id="startDateFilter" [(ngModel)]="startDateFilter" class="form-input1">
            <label for="endDateFilter">End Date:</label>
            <input type="date" id="endDateFilter" [(ngModel)]="endDateFilter" class="form-input1">
            <button class="filter-apply-button" (click)="applyDateRangeFilter()">Apply</button>
        </div>
    </div>
</div>